
@font-face {
    font-family: Raleway;
    src: url(../fonts/Raleway/Raleway-BlackItalic.WOFF);
    font-weight: bolder;
    font-style: italic;
}
@font-face {
    font-family: Raleway;
    src: url(../fonts/Raleway/Raleway-Bold.WOFF);
    font-weight: 900;
    font-style: normal;
}
@font-face {
    font-family: Raleway;
    src: url(../fonts/Raleway/Raleway-BoldItalic.WOFF);
    font-weight: 900;
    font-style: italic;
}
@font-face {
    font-family: Raleway;
    src: url(../fonts/Raleway/Raleway-ExtraBold.WOFF);
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: Raleway;
    src: url(../fonts/Raleway/Raleway-ExtraBoldItalic.WOFF);
    font-weight: bold;
    font-style: italic;
}
@font-face {
    font-family: Raleway;
    src: url(../fonts/Raleway/Raleway-ExtraLight.WOFF);
    font-weight: 100;
    font-style: normal;
}
@font-face {
    font-family: Raleway;
    src: url(../fonts/Raleway/Raleway-ExtraLightItalic.WOFF);
    font-weight: 100;
    font-style: italic;
}
@font-face {
    font-family: Raleway;
    src: url(../fonts/Raleway/Raleway-Light.WOFF);
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: Raleway;
    src: url(../fonts/Raleway/Raleway-Italic.WOFF);
    font-weight: 500;
    font-style: italic;
}
@font-face {
    font-family: Raleway;
    src: url(../fonts/Raleway/Raleway-Medium.WOFF);
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: Raleway;
    src: url(../fonts/Raleway/Raleway-MediumItalic.WOFF);
    font-weight: 400;
    font-style: italic;
}
@font-face {
    font-family: Raleway;
    src: url(../fonts/Raleway/Raleway-LightItalic.WOFF);
    font-weight: 300;
    font-style: italic;
}
@font-face {
    font-family: Raleway;
    src: url(../fonts/Raleway/Raleway-Regular.WOFF);
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: Raleway;
    src: url(../fonts/Raleway/Raleway-Semibold.WOFF);
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: Raleway;
    src: url(../fonts/Raleway/Raleway-SemiboldItalic.WOFF);
    font-weight: 600;
    font-style: italic;
}
@font-face {
    font-family: Raleway;
    src: url(../fonts/Raleway/Raleway-Thin.WOFF);
    font-weight: 200;
    font-style: normal;
}
@font-face {
    font-family: Raleway;
    src: url(../fonts/Raleway/Raleway-ThinItalic.WOFF);
    font-weight: 200;
    font-style: italic;
}
@font-face {
    font-family: Pacifico;
    src: url(../fonts/Pacifico-Regular.WOFF);
    font-weight: 200;
    font-style: italic;
}