@import "fonts.css";
body,
html {
    padding: 0;
    margin: 0;
    background: url(../image/back.jpg);
    background-position: center;
    background-size: cover;
    cursor: url(../image/clicker3.png), auto;
}
.main-box {
    cursor: url(../image/clicker3.png), auto;
    transition: 0.6s;
    margin: 27vh auto;
    text-align: center;
}
.icon-box {
    cursor: url(../image/pay-per-click3.png), auto;
    transition: 0.6s;
    width: 190px;
    height: 190px;
    border-radius: 47px;
    background-color: #2b2d29;
    margin: 0 auto;
    padding: 15px;
    /* box-shadow: 0 0 20px 6px #978fbf; */
    box-shadow: 0px 0px 20px 4px #0a0a0a99;
    position: relative;
}
.icon-top-box {
    transition: 0.6s;
    /*    display: none;*/
    position: absolute;
    width: 0;
    height: 0;
    background-color: #2b2d29;
    z-index: 3;
    margin: 0px 0 0 47px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}
.icon-circle {
    transition: 0.6s;
    width: 21px;
    height: 21px;
    border-radius: 25px;
    background-color: deeppink;
    position: absolute;
    margin: 29px 0px 0px 10px;
    background-position: center;
    background-size: cover;
}
.gradiantColor1 {
    background: #bb55ff;
    background: -moz-linear-gradient(45deg, #bb55ff 1%, #2a61ff 100%);
    background: -webkit-linear-gradient(45deg, #bb55ff 1%, #2a61ff 100%);
    background: linear-gradient(45deg, #bb55ff 1%, #2a61ff 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#bb55ff', endColorstr='#2a61ff', GradientType=1);
}
.icon-img {}
.icon-name {
    transition: 0.5s;
    margin-top: 20px;
    margin-bottom: 20px;
}
.imageClass {
    transition: 0.5s;
}
.content-click {
    margin: 65px 0 0 0;
}
.clickhere {
    color: #2b2d29;
    font-family: Raleway;
    font-weight: 400;
    font-size: 11px;
    animation: sizechange 1s ease infinite;
}
@keyframes sizechange {
    0% {
        font-size: 11px;
    }
    50% {
        font-size: 12px;
    }
    100% {
        font-size: 11px;
    }
}
.searchBar {
    display: none;
    margin: 11px;
    width: 90%;
    height: 30px;
    border-radius: 29px;
    background-color: #eaeaea;
    margin-top: 60px;
}
.content-1 {
    transition: 0.5s;
    transition-delay: 0.4s;
    opacity: 0;
    width: 90%;
    height: 30%;
    background-color: red;
    width: 90%;
    height: 18%;
    background-color: #abacec;
    margin: 11px;
    border-radius: 20px;
/*    box-shadow: 0px 3px 9px 0px rgba(174, 218, 241, 0.7);*/
    box-shadow: 0px 3px 9px 0px rgba(0, 0, 0, 0.65);
    background-position: center;
    background-size: cover;
}
.content-1:first-child {
    margin-top: 40%;
}
.content-1:nth-child(2) {
    background-image: url(https://images.pexels.com/photos/981781/pexels-photo-981781.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
}
.content-1:nth-child(3) {
    background-image: url(https://images.pexels.com/photos/845242/pexels-photo-845242.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
}
.content-1:nth-child(4) {
    background-image: url(https://images.pexels.com/photos/953213/pexels-photo-953213.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
}
.content-1:nth-child(5) {
    background-image: url(https://images.pexels.com/photos/945253/pexels-photo-945253.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
}
.insideContent {
    transition: 0.4s;
    width: 100%;
    height: 30%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    background-color: rgba(0, 0, 0, 0.48);
}
.insideButton {
    width: 40px;
    height: 18px;
    background-color: #ebeafc;
    border-radius: 24px;
    position: relative;
    margin: 17px 0 0 158px;
    font-family: pacifico;
    font-size: 12px;
    color: #405fff;
    /*    cursor: url(../image/pay-per-click3.png),auto;*/
    transition: 0.2s;
}
.insideButton:hover {
    background-color: #2196F3;
    color: #ffffff;
}
.skeleton {
    width: 81%;
    margin: 10px 9px 0 10px;
    height: 11px;
    background-color: rgba(255, 255, 255, 0.71);
}
.skeleton:after {
    content: '';
    width: 110px;
    margin: 17px 9px 0 -84px;
    height: 11px;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.71);
}
.inputSearch {
    border: none;
    background-color: #eaeaea;
    width: 82%;
    border-radius: 19px;
    height: 30px;
    padding-left: 5px;
    font-family: raleway;
    font-size: 12px;
    outline: none;
}
.fa-search:hover {
    color: black;
    cursor: url(../image/pay-per-click3.png), auto;
}
.secondClick {
    position: relative;
    font-size: 10px;
    margin-top: 10px;
    display: none;
}
#modalOverly {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    border-radius: 30px;
    top: 0;
    padding: 20px;
    display: none;
    z-index: 1;
}
#modalView1,
#modalView2,
#modalView3,
#modalView4 {
    width: 90%;
    height: 70%;
    background-color: white;
    position: absolute;
    margin: 11px;
    border-radius: 20px;
    top: 80px;
    padding: 20px;
    box-shadow: 0 0 15px 0px rgba(108, 146, 177, 0.78);
    display: none;
    z-index: 2;
}
.modalContent {
    font-family: Raleway;
    letter-spacing: 1;
    margin-top: 30px;
    font-weight: 600;
}
.modalContent > span {
    font-size: 9px;
    line-height: 4;
    text-align: center;
}
.closeBut {
    cursor: url(../image/pay-per-click3.png), auto;
    position: absolute;
    bottom: 10px;
    left: 78px;
    background-color: #edadbd;
    padding: 4px 10px;
    border-radius: 29px;
    color: white;
    transition: 0.3s;
    box-shadow: inset 0 0 17px 5px #b898c7;
}
.closeBut:hover {
    box-shadow: inset 0 0 20px 10px #a294d2;
}

/*///////////////////////////////////////////////*/

.details-left {
    display: none;
    float: left;
    width: 34%;
    transition: 0.5s;
    margin-top: 30px;
}
.details-right {
    display: none;
    float: right;
    width: 15%;
    margin-right: 42%;
    transition: 0.5s;
    margin-top: 30px;
}

/*
/////////////////////////////////////////////////////////
/////////////////// web module //////////////////////////
/////////////////////////////////////////////////////////
*/

.web-main-content {
    display: none;
    width: 100%;
    height: auto;
    padding-bottom: 1px;
    background-color: #e7e7f9;
    border-radius: 10px;
    /*    box-shadow: 0 0 6px 1px #bdbdbdb3;*/
    box-shadow: 0px 1px 8px 6px #00000069;
}
.web-toolbar {
    width: 100%;
    background-color: #ffffff;
    height: 25px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 3px 10px;
}
.web-header {
    width: 100%;
    padding: 10px;
    background-color: #eaeaea;
    height: 40px;
    text-align: right;
    border-bottom: 5px solid white;
}
.web-slider {
    width: 100%;
    background: url(https://images.pexels.com/photos/12628/pexels-photo-12628.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
    /* background-color: blue; */
    background-position: center;
    background-size: cover;
    height: 160px;
}
.web-content {
    width: auto;
    margin: 10px;
    padding: 10px;
    background-color: #ffffff;
    height: auto;
    text-align: center;
    border-radius: 5px;
}
.web-footer {}
.toolbar-button {
    width: 14px;
    height: 14px;
    float: left;
    margin-left: 5px;
    margin-top: 2px;
    border-radius: 10px;
}
#button1 {
    background-color: #607D8B;
}
#button2 {
    background-color: #4CAF50;
}
#button3 {
    background-color: #3F51B5;
}
#title {
    float: right;
    margin-right: 5px;
    color: red;
}
.cont1 {
    width: 47%;
    float: left;
    background-color: whitesmoke;
    padding: 5px;
    margin: 6px;
    height: 90px;
    border-radius: 5px;
    font-family: Raleway;
    font-weight: 800;
}
.text-mob {
    text-align: left;
    color: white;
    font-size: 24px;
    line-height: 27px;
    font-family: raleway;
    font-weight: bold;
    margin: 50px 0 0 0;
}
.text-web {
    text-align: right;
    color: white;
    font-size: 24px;
    line-height: 27px;
    font-family: raleway;
    font-weight: bold;
    margin: 50px 0 0 0;
}
.store-icons {
    margin: 10px auto;
}
.store-icons > .appstore > img {
    float: left;
    margin-right: 10px
}
.store-icons > .googleplay > img {
    float: left;
}
.text-mob > h3 > b {
    background: white;
    padding: 0 5px;
}
.text-web > h3 > b {
    background: white;
    padding: 0 5px;
}
